* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header CSS */

body {
    font: 18px sans-serif;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;  
}

.title-bar {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 10px;
}

.link-container {
    display: flex;
    align-items: center;
}

li {
    text-align: center;
    padding: 5px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    padding-right: 20px;    
}



.header-title {
    text-align: center;
}

.intro-image-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    max-width: 150px;
    background-color: #3882f6;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}

.intro-image {
    max-height: 150px;
    padding: 10px;
}

.body-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1F2937;
}

.pet-intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    
}

.pet-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    padding: 20px
}

.pet-summaries {
    padding-top: 30px;
    text-align: justify;
    text-align-last: center;
    color: #1F2937;
}

.pet-image{
    max-width: 150px;
    border: 5px solid #3882f6;
    border-radius: 50%;
}

.quote-section{
    background-color: #E5E7EB;
    color:#1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote {
    font: 36px;
    font-style: italic;
    font-weight: 200;
    max-width: 500px;

}

.quote-author {
    font-weight: 800;
    max-width: 500px;
    align-self: flex-end;
    text-align: right;
}

.call-to-action{
    background-color: #3882f6;
    max-width: 750px;
    align-self: center;
    margin: 50px;
    border-radius: 25px;
}

.action-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

.text-container{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.top-text{
    font-weight: 800;
}

.bottom-text{
    font-weight: 200;
    font-size: 16px;
}

.action-button{
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid;
    max-height: 75px;
    font-size: 16px;
    align-self: center;
    padding-left: 25px;
    padding-right: 25px;

}